<style>
body {
  font-family: "Lato", sans-serif;
  padding: 0;
  margin: 0;
}

lower-body {
  padding: 0px;
  margin: 0px;
  width: 100%;
}
.name-logo {
  font-family: fontawesome;
  text-decoration: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 37px;
  letter-spacing: 3px;
  color: #555555;
  display: block;
  top: 17px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.nav{
  width: 25%;
  max-width: 280px;
  margin-left: 0px;
  float: left;
  padding: none;
}
.nav-item-uncollapse {
  color: #444;
  cursor: pointer;
  padding: 10px;
  max-width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}
.nav-item-uncollapse a {
  color: #444;
  cursor: pointer;
  text-decoration: none;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.nav-item {
  color: #444;
  cursor: pointer;
  padding: 10px;
  padding-left: 10px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  background-color: white;
  
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.active, .nav-item-uncollapse:hover {
  background-color: #ccc;
}
.active, .nav-item:hover {
  background-color: #ccc;
}

.nav-item:after {
  content: '\002B';
  color: #444;
  font-weight: bold;
  float: right;
  margin-left: 0px;
}

.active:after {
  content: "\2212";
}
.nav-subitem {
  text-align: left;
  padding-left: 15px;
  display: none;
  overflow: hidden;
}
.nav-subitem a {
  align-items: center;
  text-decoration: none;
  padding-top: 10px;
  color: #555555;
  width: 100%;
  height: 100%;
}

.sticky {
  position: fixed;
  top: 0;
  margin-left: 0px;
  float: left;
  padding: none;
}

.main {
  width: 75%;
  height: 1000px;
  transition: margin-left .5s;
  padding: 0px;
  float: right;
}

.main h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 30px;
}

.main h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 20px;
}

.main h3 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 17px;
}

.toc {
  margin-top: 5px;
  margin-left: 5px;
}

.toc ol {
  margin-top: 0px;
  padding: 0px;
  margin-left: 17px;
  font-size: 12px;

}

.aboutm5-slides {
  text-align: center;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
</style>