<style>
body {
  font-family: "Lato", sans-serif;
}

.name-logo {
  font-family: fontawesome;
  text-decoration: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 37px;
  letter-spacing: 3px;
  color: #555555;
  display: block;
  top: 17px;
  padding-bottom: 5px;
}

.nav{
  width: 25%;
  margin-left: 0px;
  
}
.nav-item-uncollapse {
  color: #444;
  cursor: pointer;
  padding: 0px;
  width: 100%;
  border: none;
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;
  outline: none;
  font-size: 15px;
}
.nav-item-uncollapse a {
  color: #444;
  cursor: pointer;
  padding-left: 10px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.nav-item {
  color: #444;
  cursor: pointer;
  padding: 10px;
  padding-left: 10px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  background-color: white;
  
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.active, .nav-item-uncollapse:hover {
  background-color: #ccc;
}
.active, .nav-item:hover {
  background-color: #ccc;
}

.nav-item:after {
  content: '\002B';
  color: #444;
  font-weight: bold;
  float: right;
  margin-left: 0px;
}

.active:after {
  content: "\2212";
}
.nav-subitem {
  text-align: left;
  padding-left: 15px;
  display: none;
  overflow: hidden;
}
.nav-subitem a {
  align-items: center;
  text-decoration: none;
  padding-top: 10px;
  color: #555555;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
</style>