<style>
body {
  font-family: "Lato", sans-serif;
}

.name-logo {
  font-family: fontawesome;
  text-decoration: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 37px;
  letter-spacing: 3px;
  color: #555555;
  display: block;
  top: 17px;
}

.nav{
  width: 100%;
  margin-left: 10px;
}

.nav-item{
  width: 100%;
  font-size: 20px;
  padding-top: 5px;
}

.nav-item a{
  text-decoration: none;
  color: #555555;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
</style>